<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="shortcut icon" href="/images/logoMercadoLiebreChico.png">
    <script src="https://kit.fontawesome.com/b23bb642b5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="mercadoLiebre">
    <header class="mainHeader">
        <div class="main-header-top-bar">
            <a href="/" class="contenedorLogo">
                <img class="logo" src="/images/logoMercadoLiebre.png">
            </a>
            <div class="barraBusqueda">
                <form action="#" method="GET">
                    <div class="input-group">
                        <input type="text" id="busqueda" class="form-control" placeholder="Buscar Productos, marcas">
                        <button class="contenedorLupa"  type="button">
                        <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            
            <h2 class="copy-header"> 
                <i class="fas fa-hand-holding-usd"></i>    
                <label>Comprá en cuotas y sin tarjeta de crédito</label>
            </h2>
        </div>

        <a href="#" class="hamburguer-button"><i class="fas fa-bars fa" ></i></a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Todos los productos</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">   
                <li><a href="/register" class="opcionMenu">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login" class="opcionMenu">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#" class="opcionMenu">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        
    </header> 
    <main class="fondoMain">
        <div class="contenedorBanner">
            <img class="banner" src="/images/img-home-banner.jpg">
        </div>
        <div class="contenedorCentral">
            <div class="">
                <h2 class="titulares">Basado en tu última visita</h2>
                <section class="contenedorGrupoItems">
                    <a href="#" class="item">
                        <div><img src="/images/img-macbook-pro-2019.jpg"></div>
                        <div class="itemContenido">
                            <div class="logoEnvio"><i class="fas fa-truck" style="color:#39b54a"></i></div>
                            <div class="precioYDescuento">   
                                <div class="precios">$230.000</div>
                                <div class="descuentos">20% off</div>
                            </div> 
                            <div class="nombreArticulo">MacBook Pro 2019</div>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div><img src="images/img-samsung-galaxy-s10.jpg"></div>
                        <div class="itemContenido">
                            <div class="logoEnvio"><i class="fas fa-truck" style="color:#39b54a"></i></div>
                            <div class="precioYDescuento">
                                <div class="precios">$70.500</div>
                                <div class="descuentos">10% off</div>
                            </div>
                            <div class="nombreArticulo">Samsung Galaxy S10</div>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div><img src="images/img-cafetera-moulinex.jpg"></div>
                        
                        <div class="itemContenido">
                            <div class="logoEnvio"><i class="fas fa-truck" style="color:#39b54a"></i></div>
                            <div class="precioYDescuento">     
                                <div class="precios">$70.000</div>
                                <div class="descuentos">14% off</div>
                            </div>
                            <div class="nombreArticulo">Cafetera Molinex</div>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div><img src="images/img-tv-samsung-smart.jpg"></div>
                        <div class="itemContenido">
                            <div class="logoEnvio"><i class="fas fa-truck" style="color:#39b54a"></i></div>
                            <div class="precioYDescuento">        
                                <div class="precios">$170.500</div>
                                <div class="descuentos">10% off</div>
                            </div>
                            <div class="nombreArticulo">Samsung Smart</div>
                        </div>
                    </a>
                </section>
            </div>
            <div class="">
                <h2 class="titulares">Ofertas</h2>
                <section class="contenedorGrupoItems">
                    <a href="#" class="item">
                        <div><img src="images/img-cafetera-moulinex.jpg"></div>
                        <div class="itemContenido">
                            <div class="logoEnvio"><i class="fas fa-truck" style="color:#39b54a"></i></div>
                            <div class="precioYDescuento">     
                                <div class="precios">$70.000</div>
                                <div class="descuentos">14% off</div>
                            </div>
                            <div class="nombreArticulo">Cafetera Molinex</div>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div><img src="images/img-tv-samsung-smart.jpg"></div>
                        <div class="itemContenido">
                            <div class="logoEnvio"><i class="fas fa-truck" style="color:#39b54a"></i></div>
                            <div class="precioYDescuento">        
                                <div class="precios">$170.500</div>
                                <div class="descuentos">10% off</div>
                            </div>
                            <div class="nombreArticulo">Samsung Smart</div>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div><img src="/images/img-macbook-pro-2019.jpg"></div>
                        <div class="itemContenido">
                            <div class="logoEnvio"><i class="fas fa-truck" style="color:#39b54a"></i></div>
                            <div class="precioYDescuento">   
                                <div class="precios">$230.000</div>
                                <div class="descuentos">20% off</div>
                            </div> 
                            <div class="nombreArticulo">MacBook Pro 2019</div>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div><img src="images/img-samsung-galaxy-s10.jpg"></div>
                        <div class="itemContenido">
                            <div class="logoEnvio"><i class="fas fa-truck" style="color:#39b54a"></i></div>
                            <div class="precioYDescuento">
                                <div class="precios">$70.500</div>
                                <div class="descuentos">10% off</div>
                            </div>
                            <div class="nombreArticulo">Samsung Galaxy S10</div>
                        </div>
                    </a>
                </section>
            </div>
        </div>
    </main> 
    <footer >
        <section id="pieDePagina">
            <div class="contenedorPieDePagina">
                <div class="elementoPieDePagina"> 
                    <div class="logoFooter"><i class="far fa-credit-card fa-2x"></i></div>
                    <h3>Pagá con tarjeta o efectivo</h3>
                    <p>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                    </p> 
                </div>
                <div class="elementoPieDePagina">
                    <div class="logoFooter"><i class="fas fa-gift fa-2x"></i></div>
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>  
                <div class="elementoPieDePagina">  
                    <div class="logoFooter"><i class="fas fa-user-shield fa-2x"></i></div>  
                    <h3>Seguridad, de principio a fin</h3>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </div>
                <h4 class="elementoPieDePagina copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </div>
        </section>
    </footer>
</body>
</html>