
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/b23bb642b5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="mercadoLiebre">
    <header class="mainHeader">
        <div class="main-header-top-bar">
            <img class="logo" src="/images/logoMercadoLiebre.png">
            <div class="barraBusqueda">
                <form action="#" method="GET"> 
                    <input id="busqueda" type="search" placeholder="Buscar productos, marcas">
                    <div class="contenedorLupa">
                        <i class="fas fa-search"></i>
                    </div>
                </form>
            </div>
            
            <h2 class="copy-header"> 
                <i class="fas fa-hand-holding-usd"></i>    
                <label>Comprá en cuotas y sin tarjeta de crédito</label>
            </h2>
        </div>
        
        
        <a href="#" class="hamburguer-button"><i class="fas fa-bars fa" ></i></a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">   
                <li><a href="#">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        
    </header> 
    <main class="fondoMain">
        <form action="/home" method="GET" class="formulario">
            <div class="campoFormulario">
                <input type="text" placeholder="Nombre y apellido" name="nombreApellido" required minlength="2" maxlength="18" class="control">
            </div>
            <div class="campoFormulario">
                <input type="text" placeholder="Usuario" name="usuario" required minlength="6" maxlength="12" class="control">
            </div>
            <div class="campoFormulario">
                <label for="fechaNacimiento" class="tituloFormulario">Fecha de nacimiento</label>
                <input type="date" name="fechaNacimiento" required min="1900-01-01" max="2008-01-01" class="control">
            </div>
            <div class="campoFormulario">
                <input type="text" placeholder="Domicilio" name="domicilio" required minlength="4" maxlength="30" class="control">
            </div>
            <div class="campoFormulario">
                <label for="perfilUsuario" class="tituloFormulario">Perfil de usuario</label>
                <input type="radio" value="comprador" name="perfilUsuario">
                <label>Comprador</label>
                <input type="radio" value="vendedor" name="perfilUsuario">
                <label>Vendedor</label>
            </div>
            <div class="campoFormulario">
                <label class="tituloFormulario">Intereses</label>
                <select name="intereses" class="control">
                    <option value="electro">
                        Electro
                    </option>
                    <option value="moda">
                        Moda
                    </option>
                    <option value="hogar">
                        Hogar
                    </option>
                    <option value="jugueteria">
                        Juguetería
                    </option>
                    <option value="vidaSana">
                        Vida sana
                    </option>
                </select>
            </div>
            <div class="campoFormulario">
                <label for="fotoUsuario" class="tituloFormulario">Foto de Usuario</label>
                <input type="file" name="fotoUsuario" accept=".jpg,.jpeg" class="control">
            </div>
            <div class="campoFormulario">
                <input type="password" placeholder="Elegí tu contraseña" name="contrasena"  required minlength="6" maxlength="14" class="control">
            </div>
            <div class="campoFormulario">
                <input type="password" placeholder="Repetir contraseña" name="confirmarContrasena" required minlength="6" maxlength="14" class="control">
            </div>
            <div class="campoFormulario">
                <button type="reset" value="borrar" class="botonFormulario">Borrar datos</button>
            </div>
            <div class="campoFormulario">
                <button type="submit" value="enviar" class="botonFormulario">Enviar</button>
            </div>
        </form>


    </main> 
    <footer >
        <section id="pieDePagina">
            <div class="elementoPieDePagina"> 
                <div class="logoFooter"><i class="far fa-credit-card fa-2x" style="color:#1259c3"></i></div>
                <h3>Pagá con tarjeta o efectivo</h3>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p> 
            </div>
            <div class="elementoPieDePagina">
                <div class="logoFooter"><i class="fas fa-gift fa-2x" style="color:#1259c3"></i></div>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>  
            <div class="elementoPieDePagina">  
                <div class="logoFooter"><i class="fas fa-user-shield fa-2x" style="color:#1259c3"></i></div>  
                <h3>Seguridad, de principio a fin</h3>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                </p>
            </div>
            <h4 class="elementoPieDePagina">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>
</html>

